:root { /*adding css variables to make website colours easier to control*/
  --dark: rgb(4, 38, 53);
  --light: #eadff4;
  --navlink-color: #b9c6ae;
}

h1{
color: rgb(4, 38, 53);
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    }

    
      header {

        display: block;
        background-image: url(./headerPic.jpg);
        background-repeat:no-repeat;
        background-position: center center;   
        justify-content: left;
        align-items: center;
        padding: 10%; /*want nice big header*/
        background-color: var(--dark);
        color: var(--dark);
      }

      nav a {
        background-color: unset;
        color: var(--dark);
        font-weight: bold;
        text-decoration-style: solid;
      }
      
      nav a:hover {
        color: var(--light);
      }
      
      body {
        font-family: Arial;
        margin: 0;
        
      }

      .mainBodyStuff{
        border: 5px dashed; color: var(--light);
        padding: 20px;
      }


